/* page ABOUT */
.avatar {
  margin-top: auto;
  margin-bottom: auto;
}

.judul-about {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 80px;
}

.judul {
  margin-top: 100px;
}

.judul1 {
  margin-top: 30px;
}

.judul2 {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.foto1 {
  margin-top: 50px;
}

.foto-evan1 {
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.bio {
  margin-top: 30px;
  font-family: monospace;
  font-size: 30px;
  text-align: center;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.bio1 {
  margin-top: 30px;
  font-family: monospace;
  font-size: 120%;
  text-align: center;
  margin-bottom: 50px;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.bio2 {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.bio3 {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 100px;
  grid-gap: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

.bio4 {
  text-align: right;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 30px;
}

.bio5 {
  text-align: left;
  font-size: 20px;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.bio6 {
  margin-top: 20px;
}

.isi {
  margin-top: 100px;
}

.sosmed {
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
}
